#main {
    background-color: #f2f2f2;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 4px solid #ddd;
}

#real-estates-detail #author img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 5px solid #ecf0f1;
    margin-bottom: 10px;
}

#real-estates-detail .sosmed-author i.fa {
    width: 30px;
    height: 30px;
    border: 2px solid #bdc3c7;
    color: #bdc3c7;
    padding-top: 6px;
    margin-top: 10px;
}

.panel-default .panel-heading {
    background-color: #fff;
}
#real-estates-detail .slides li img {
    height: 450px;
}

.file-select {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-select.file-select-lg + label {
    padding: 10px 10px;
    font-size: 18px;
}

.file-select + label {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 3px;
}

.file-select.file-select-sm + label {
    font-size: 12px;
    padding: 5px 10px;
}

.file-select:focus + label,
.file-select + label:hover {
    background: #ccc;
}