<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <!--Механизм подстановки переменных-заполнителей из файла properties-->
    <context:property-placeholder
            location="classpath:db/*.properties" />

    <!--Инициализации базы данных первоночальными скриптами-->
    <jdbc:initialize-database data-source="dataSource" enabled="${database.init}">
        <jdbc:script encoding="utf-8" location="classpath:db/${database.initLocation}"/>
        <!--<jdbc:script encoding="utf-8" location="classpath:db/${jdbc.initpopulate}"/>-->
    </jdbc:initialize-database>

    <!--Поддержка аннотаций @Transaction transaction-manager="transactionManager"-->
    <tx:annotation-driven/>

    <!--Обеспечивает работу с транзакциями в Spring -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
        p:entityManagerFactory-ref="emf"
    />


    <!--Настройка emf(фабрики диспетчера сущностей) механизма JPA, управляемого контейнером -->
    <bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
        p:dataSource-ref="dataSource"
        p:jpaVendorAdapter-ref="jpaVendorAdapter"
        p:packagesToScan="ru.leather.onlineshop.model"
    />

    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
        p:database="${database.db}"
        p:showSql="true"
        p:generateDdl="false"
        p:databasePlatform="${database.platform}"
    />

    <!-- Datasource. Источник данных Spring JDBC - база MySQL -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="${database.driverClassName}"
        p:url="${database.url}"
        p:username="${database.username}"
        p:password="${database.password}"
    />


    <!--Нужен для хранения абстрактного интерфейса репозетария JPA -->
    <jpa:repositories base-package="ru.leather.onlineshop.repository" entity-manager-factory-ref="emf"
                      transaction-manager-ref="transactionManager"/>

</beans>