<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--Указывает, что для описания сущностей MVC будут использоваться аннотации-->
    <mvc:annotation-driven />

    <!--Указывает на пакеты, в которых будет происходить сканирование на наличие аннотаций-->
    <context:component-scan base-package="ru.leather.onlineshop*" />

    <!--  all resources inside folder src/main/webapp/resources are mapped so they can be referred to inside JSP files -->
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!-- uses WebJars so Javascript and CSS libs can be declared as Maven dependencies (Bootstrap, jQuery...) -->
    <mvc:resources mapping="/webjars/**" location="/webjars/"/>


    <!--Поиск представления через арбитр по шаблону-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--&lt;!&ndash;Настройка интернационализации/локализации&ndash;&gt;-->
    <!--<bean id="messageSource"-->
          <!--class="org.springframework.context.support.ReloadableResourceBundleMessageSource">-->
        <!--<property name="basename" value="lable" />-->
        <!--<property name="defaultEncoding" value="UTF-8"/>-->
    <!--</bean>-->

    <!--<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">-->
        <!--<property name="defaultLocale" value="ru"/>-->
    <!--</bean>-->

    <!--<mvc:interceptors>-->
        <!--<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">-->
            <!--<property name="paramName" value="lang"/>-->
        <!--</bean>-->
    <!--</mvc:interceptors>-->

</beans>